<script setup>
import{ref, onMounted, computed, watch} from 'vue'

const todos = ref([])
const name = ref('')

const input_content = ref('')
const input_category = ref(null)


const addTodo = ()=>{
  if(input_content.value.trim() === '' || input_category.value===null){
    return
  }
  todos.value.push({
    content: input_content.value,
    category: input_category.value,
    done: false,
    createdAt: new Date().getTime()
  })
  input_content.value = ''
  input_category.value = null
  

}
const removeTodo = todo =>{
  todos.value = todos.value.filter(t=>t !== todo)
}
watch(todos, newVal =>{
  localStorage.setItem('todos', JSON.stringify(newVal))
}, {deep: true})

watch(name, (newVal)=>{
  localStorage.setItem('name', newVal)
})
onMounted(()=> {
  name.value = localStorage.getItem('name') || ''
  todos.value = JSON.parse(localStorage.getItem('todos')) || []
})
</script>

<template>

  <main class="app">
    <section class="greeting">
      <h2 class="title">
        Привет, <input type="text" placeholder="Введите имя" v-model="name"/>
      </h2>
    </section>
    <section class="create-todo">
      <h3>Создать заметку</h3>
      <form @submit.prevent="addTodo"  >
        <h4>Новая заметка</h4>
        <input 
          type="text" placeholder="Введите заметку"
          v-model="input_content"/>
        <h4>Выбрать категорию</h4>

        <div class="options">
          <label>
            <input type="radio" name="category" value="notimportant" v-model="input_category"/>
            <span class="bubble notimportant"></span>
            <div>Неприоритетно</div>
          </label>
          <label>
            <input type="radio" name="category" value="important" v-model="input_category"/>
            <span class="bubble important"></span>
            <div>Приоритено</div>
          </label>
          
        </div>
        <input type="submit" value="Добавить к списку"/>
      </form>
    </section>
    <section class="todo-list">
      <h3>Список дел</h3>
      <div class="list">
        <div v-for="todo in todos"
              :class="`todo-item ${todo.done && 'done'}`"
              :key = "todo.id">
          <label>
            <input type="checkbox" v-model="todo.done"/>
            <span :class="`bubble ${todo.category}`"></span>
          </label>
          <div class="todo-content">
            <input type="text" v-model="todo.content"/>
          </div>
          <div class="actions">
            <button class="delete" @click="removeTodo(todo)">Delete</button>
          </div>
        </div>
      </div>
    </section>
  </main>

</template>


